%h2 Resend confirmation instructions
= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %p
  = f.inputs do 
    = f.input :email
    = f.email_field :email
  %p
    = f.buttons
    -# "Resend confirmation instructions"

= render :partial => "devise/shared/links"
