= simple_form_for :assignment, :url => '/assignments' do |f|
  = f.input :purpose
  = f.input :assignees, :required => false, :input_html => {:class => 'autocomplete'}
  %ul#names
  = f.input :cost, :required => false
  = f.input :due_date, :required => false, :input_html => { :class => 'superdate' }
  #picker
  = f.input :repeating, :as => :boolean, :required => false
  = f.input :frequency, :required => false
  = f.input :category, :required => false
  = f.input :completed_at, :required => false, :input_html => { :class => 'superdate' }

  = f.submit 'create', :disable_with => "Please wait...", :class => 'green'