- @main_class = 'assignments'

- unless @past_due.blank?
  %h1 past due assignments
   
  %table.assignments
    %tr
      %th Purpose
      %th Due date
      %th Complete
   
    - @past_due.each do |assignment|
      %tr
        %td= link_to assignment.purpose, assignment
        %td= assignment.due_date.to_date || 'none'
        %td= button_to 'complete', :action => :complete, :id => assignment.id

  %hr

- unless @due.blank?
  %h1 assignments
 
  %table.assignments
    %tr
      %th Purpose
      %th Due date
      %th Cost
      %th Assignee(s)
 
    - @due.each do |assignment|
      %tr
        %td= link_to assignment.purpose, assignment
        %td= assignment.try(:due_date).try(:to_date) || 'none'
        %td= assignment.cost || 'none'
        %td none
        %td= button_to 'complete', :action => :complete, :id => assignment.id

  %hr

- unless @completed.blank?
  %h1 completed assignments
   
  %table.assignments
    %tr
      %th Purpose
      %th Date completed
      %th Cost
      %th Assignee(s)
   
    - @completed.each do |assignment|
      %tr
        %td= link_to assignment.purpose, assignment
        %td= l(assignment.completed_at.to_date) || 'none'
        %td= assignment.cost || 'none'
        %td none

  %hr

- unless @confirmations.blank?
  %h1 completed assignments
  %table.assignments
    %tr
      %th Purpose
      %th Completor
      %th Confirm?
    - @confirmations.each do |assignment|
      %tr
        %td= assignment.purpose
        %td= assignment.completor || 'ghost'
        %td
          = link_to image_tag('58.png'), "/assignments/#{assignment.id}/confirm"
          = link_to image_tag('46.png'), "/assignments/#{assignment.id}/reject"  
