%h1 past due assignments
 
%table
  %tr
    %th Purpose
    %th Due date
    %th Cost
    %th Assignee
    %th Frequency
 
  - @assignments.each do |assignment|
    %tr
      %td= assignment.purpose
      %td= assignment.due_date.to_date || 'none'
      %td= assignment.cost || 'none'
      %td none
      %td= assignment.frequency || 'not repeating'
      %td= button_to 'complete', :action => :complete, :id => assignment.id
