%h1 Listing assignments
 
%table
  %tr
    %th Purpose
    %th Due date
    %th Cost
    %th Assignee
    %th Frequency
    %th Type
    %th
    %th
 
  - @assignments.each do |assignment|
    %tr
      %td= assignment.purpose
      %td= assignment.due_date if %w{Tasc Expense Bill Chore}.include?(assignment._type)
      %td= assignment.cost if %w{Bill Expense Gift Wish}.include?(assignment._type)
      %td
        - if %w{Tasc Expense Bill Chore}.include?(assignment._type)
          %ul
            - assignment.assignees.map do |a|
              %li= a.name
      %td= assignment.frequency if %w{Bill Chore}.include?(assignment._type)
      %td= assignment.class
      %td= link_to 'Show', assignment_path(assignment)
      %td= link_to 'Edit', edit_assignment_path(assignment)
      %td= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete
 
%br
 
= link_to 'New Assignment', new_assignment_path

