- unless @past_due.blank?
  %h1 past due assignments
   
  %table
    %tr
      %th Purpose
      %th Due date
      %th Cost
      %th Assignee
      %th Frequency
   
    - @past_due.each do |assignment|
      %tr
        %td= link_to assignment.purpose, assignment
        %td= assignment.due_date.to_date || 'none'
        %td= assignment.cost || 'none'
        %td none
        %td= assignment.frequency || 'not repeating'
        %td= button_to 'complete', :action => :complete, :id => assignment.id

  %hr

%h1 assignments
 
%table
  %tr
    %th Purpose
    %th Due date
    %th Cost
    %th Assignee
    %th Frequency
 
  - @due.each do |assignment|
    %tr
      %td= link_to assignment.purpose, assignment
      %td= assignment.try(:due_date).try(:to_date) || 'none'
      %td= assignment.cost || 'none'
      %td none
      %td= assignment.frequency || 'not repeating'
      %td= button_to 'complete', :action => :complete, :id => assignment.id


- unless @completed.blank?
  %hr
  %h1 completed assignments
   
  %table
    %tr
      %th Purpose
      %th Date completed
      %th Cost
      %th Assignee
      %th Frequency
   
    - @completed.each do |assignment|
      %tr
        %td= link_to assignment.purpose, assignment
        %td= l(assignment.completed_at.to_date) || 'none'
        %td= assignment.cost || 'none'
        %td none
        %td= assignment.frequency || 'not repeating'

