%h1 Assignment
%h2
  Type: 
  %strong #{@assignment.class}

%p= @assignment.purpose
%hr
- if @assignment.respond_to?("assignees") && @assignment.assignees != nil
  %p Assignees: 
  %ul
    - @assignment.assignees.map do |a| 
      %li
        = link_to "- " + a.name.to_s, a

- if @assignment.respond_to?("cost")
  %p 
    Cost: 
    %strong #{number_to_currency(@assignment.cost)}

- if @assignment.respond_to?("due_date")
  %p 
    Due date: 
    %strong #{l(@assignment.due_date.to_date, :format => :long)}

- if @assignment.respond_to?("frequency")
  %p 
    Frequency : 
    %strong #{@assignment.frequency}
%hr
= link_to 'Edit Assignment', edit_assignment_path(@assignment)
= link_to 'Back to Assignments', assignments_path
