- @main_class = 'assignments'

%h1 Assignment
%h2
  Type: 
  %strong #{@assignment.type}

%p= @assignment.purpose
%hr
  %p Assignees: 
  %ul
    - @assignment.try(:assignees).map do |a| 
      %li
        = link_to "- " + a.name.to_s, a

  %p 
    Cost: 
    %strong #{number_to_currency(@assignment.try(:cost))}

  %p 
    Due date: 
    %strong #{ @assignment.due_date ? l(@assignment.due_date.to_date, :format => :long) : nil}

- if @assignment.respond_to?("completed_at")
  %p
    Completion date:
    %strong #{@assignment.try(:completed_at)}i
- unless @assignment.completor.blank?
  %p
    Completed by:
    %strong #{@assignment.completor.name}

- unless @assignment.completed_at
  %hr
  = button_to "complete this assignment", :action => :complete, :id => @assignment.id
  %hr
  = link_to 'edit assignment', edit_assignment_path, class: 'ajax'
