- @main_class = 'assignments'

%h1 #{@assignment.type == "task" ? t(:task) : t(:expense)}
%p= @assignment.purpose
%hr
  %p Assignees:
  %ul
    - @assignment.try(:assignees).map do |a| 
      %li
        = link_to "- " + a.name.to_s, a
  %hr
        
- if @assignment.respond_to?("cost")
  %p
    Cost: 
    %strong #{number_to_currency(@assignment.cost)}

  %p 
    Due date: 
    %strong #{@assignment.due_date}

- if @assignment.completed_at
  %p
    Completion date:
    %strong #{@assignment.completed_at.to_date}
    
- unless @assignment.completor.blank?
  %p
    Completed by:
    %strong #{@assignment.completor.name}

- unless @assignment.completed_at
  %hr
  = button_to "complete this assignment", :action => :complete, :id => @assignment.id
  %hr
  = link_to 'edit assignment', edit_assignment_path, class: 'ajax'
