- @main_class = "pages"
%section
  %h1 Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.input :name, label: false, placeholder: t(:name)
    = f.input :email, label: false, placeholder: t(:email)
    = f.input :password, label: false, placeholder: t(:password)
    = f.submit 'Sign up'

  = render partial: "devise/shared/links"
