%h1 Hi there!

%h2 
  %strong #{(@inviter.name.blank?) ? @inviter.email : @inviter.name} 
  invited you to join their house on Roomies!

%p 
  If you already have an account, you can:
%p
  = link_to t(:move_in_invite_accept, scope: [:corkboard, :notifications]), "#{house_invitations_url}/#{@invite}/accept"
%p or
%p
  = link_to t(:move_in_invite_refuse, scope: [:corkboard, :notifications]), "#{house_invitations_url}/#{@invite}/reject"
%p 
  If you're a bit of a newbie, head over 
  = link_to 'here', new_user_registration_url(@invite)
  and signup, if you like.
  %br 
    As soon as you're logged in, you will see a cute little house icon on the top right, you can accept the invitation there.

= render :partial => 'footer'
