%h1 Hi there!

%h2 Someone invited you to join their house on Roomies!
%p= link_to t(:move_in_invite_accept, scope: [:corkboard, :invitations]), "#{house_invitations_url}/#{@invite}/accept"
%p= link_to t(:move_in_invite_refuse, scope: [:corkboard, :invitations]), "#{house_invitations_url}/#{@invite}/reject"
%p 
  If you already have an account, you can simply sign in and accept the invitation.
%p 
  If you're a bit of newbie, head over to #{new_user_registration_url} and signup, if you like.
  As soon as you're logged in, you will see a notification staring you in the face, asking you to accept or reject the invitation.

%p Have a great day!
%p
  %strong= link_to 'Roomies', root_url
  crafted by 
  = link_to 'cleverCode', 'http://clevercode.net'
