= form_for @house do |f|
  -if @house.errors.any?
    #error_explanation
      %h2= "#{pluralize(@house.errors.count, "error")} prohibited this house from being saved:"
      %ul
        - @house.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    %ul
      - @house.users.each do |user|
        %li= user.name
    - if @house.users.empty?
      %p= "Tough shit"

  .field
    = f.label :users
    = f.select :users, User.all.map { |u| [u, u._id] }
  .actions
    = f.submit 'Save'
