-if @house.errors.any?
  #error_explanation
    %h2= "#{pluralize(@house.errors.count, "error")} prohibited this house from being saved:"
    %ul
      - @house.errors.full_messages.each do |msg|
        %li= msg
= simple_form_for @house do |f|
  = f.input :name
  = f.submit 'submit', :class => 'green'