%h1 Listing houses

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @houses.each do |house|
    %tr
      %td= house.name
      %td= link_to 'Show', house
      %td= link_to 'Edit', edit_house_path(house)
      %td= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New House', new_house_path
