%p 
  = t('.house_invitation')
  = User.find(current_user.house_invitation.house_inviter_id).name
  = link_to t('.move_in_invite_accept'), '/accept_house_invitation'
  = link_to t('.move_in_invite_refuse'), '/reject_house_invitations'
- unless current_user.house.nil?
  %p= t('.house_move_warning')