- @main_class = 'rewards'

- unless @rewards.empty?
  %h2= t('.rewards')
  %p 
    = t('.you_have') 
    %strong= @total
    = t('.points_so_far')
  %hr
  %ul
    - @rewards.each do |reward|
      %li
        = t('.you_received') 
        = reward.points 
        = t('.points_for') 
        = t(reward.type, :scope => :rewards)
