- @main_class = 'rewards'

- unless @rewards.empty?
  %h2 Rewards
  %p #{current_user.name} has <strong>#{@total}</strong> points so far.
  %hr
  %ul
    - @rewards.each do |reward|
      %li
        = "You received #{reward.points} points for"
        = t(reward.type, :scope => :rewards)
