- @main_class = 'rewards'

- unless @rewards.empty?
  %ul
    - @rewards.each do |reward|
      %li
        \- #{l(reward.created_at)}: #{reward.user.name} got #{reward.points} points
        = link_to " for #{t(reward.type, :scope => :rewards)}", reward 
