= semantic_form_for @user do |f|
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :description, :as => :text, :input_html => { :rows => 5 }
  = f.buttons

