= simple_form_for @user do |f|
  = f.input :invite_token, :as => :hidden
  = f.input :name
  = f.input :email
  = f.input :password, :required => false
  = f.input :locale, :label => "Interface Language", :collection => [["Français", "fr"], ["English", "en"]], :prompt => "Choose a language"
  = f.submit 'submit', :class => 'green'

