- @main_class = 'profile'

- if signed_in? 
  %h1 hi there, #{@user.name}
  %p You live at <strong>#{@user.house.name}</strong>
  %p Your roomies:
  %ul
  - @roomies.each do |roomie|
    %li= link_to roomie.name, roomie
  %p Other people:
  %ul
  - User.all.each do |people|
    %li #{people.name} (#{people.house.name unless people.house.blank?})
  %ul#names
    - @names.each do |name|
      %li= name
- else
  %h1 #{@user.name}