- @main_class = 'profile'

#about.content
  - if @user.gravatar
    = image_tag "#{@user.gravatar}", :alt => "profile picture"
  - else
    = image_tag "profile_default.png", :alt => "profile picture"

  #about_header
    - if signed_in? && current_user == @user
      - if @user.name.blank?
        %h1
          = t(:hi_there, :scope => :profile)
          =  t(:new_roomie, :scope => :profile)
      -else
        %h1 #{t(:hi_there, :scope => :profile)}, #{@user.name}
    - else
      - if @user.name.blank?
        %h1= t(:new_roomie, :scope => :profile)
      -else
        %h1  #{@user.name}
    -# - if signed_in? && current_user == @user
    -#   %p you have #{pluralize(@user.points, t(:point))}
    -# - else
    -#   %p #{(current_user == @user) ? t('.you_have') : t('.this_roomie_has')} #{pluralize(@user.points, t(:point))}
  #hud

    - if @user.house
      #house
        .current_house #{@user.house.name}
        - if signed_in? && current_user == @user
          = link_to t('.change_house_name'), edit_house_path(@user.house), :class => 'ajax'
          = link_to t('.add_roomies'), new_house_invitation_path, :class => 'ajax'
          = link_to t('.move_out'), homeless_url(:id => @user.id, :house_id => @user.house), :confirm => t('.confirm_house_deletion')
    - else
      %p#house
        - if signed_in? && current_user == @user
          = link_to t(:build_house, :scope => :profile), new_house_path, :class => 'ajax'
        - else
          = t(:homeless_roomie, :scope => :profile)
    %p#roommates
    %p#tasks_expenses
      %span
      - if @tasks
        %span= pluralize(@tasks.count, t(:task, :scope => :profile))
      - else
        %span= t(:no_tasks, :scope => :profile)
      %span
      - if @tasks
        %span= pluralize(@expenses.count, t(:expense, :scope => :profile))
      - else
        %span= t(:no_expenses, :scope => :profile)
  %p.edit_profile= link_to t(:edit_profile, :scope => :profile), edit_user_path(@user), :class => 'ajax' if current_user
#achievements
  .header_bar
    %h1= t :achievements, :scope => :profile
    -# %p= link_to t(:more_achievements, :scope => :profile), achievements_url
  #badges.content
    - if @user.achievements.count == 0
      %p Aww, you haven't achieved anything. Work harder.
      %p Maybe you'll be worthy and earn you first achievement, <strong>#{@next_achievement_name}</strong>
    - else
      - @user.achievements.each do |a|
        = image_tag "#{a.type[:badge]}", title: a.name.to_s.humanize

- if current_user
  -# #progress
  -#   .header_bar
  -#     %h1= t(:progress, :scope => :profile)
  -#   .content
  -#     %table
  -#       %tr
  -#         %td awesomeness
  -#         %td.progress_bar
  -#           .bars
  -#             .bar
  -#             .bar_bg
  -#         %td.percentage 77%
  -#       %tr
  -#         %td reliability
  -#         %td.progress_bar
  -#           .bars
  -#             .bar
  -#             .bar_bg
  -#         %td.percentage 77%
  -#       %tr
  -#         %td helpfulness
  -#         %td.progress_bar
  -#           .bars
  -#             .bar
  -#             .bar_bg
  -#         %td.percentage 77%
  -#       %tr
  -#         %td cooking master
  -#         %td.progress_bar
  -#           .bars
  -#             .bar
  -#             .bar_bg
  -#         %td.percentage 77%

  #batte
    .header_bar
      %h1= t :roomie_battle, :scope => :profile 
    - if roomies_list
      .content
        %table.battle
          %tr
            %th= t :name, :scope => :profile
            %th
              = t(:progress, scope: [:profile]) 
            %th.level= t :points, :scope => :profile 
          - roomies_list.all.map do |roomie|
            %tr
              %td
                - if (roomie == current_user)
                  %strong #{t(:you, :scope => :profile)}
                - elsif roomie.name
                  = link_to roomie.name, roomie
                - else
                  = t :no_name_roomie, :scope => :profile 
              %td.progress_bar
                .bars
                  .bar_bg
                    - next_achievement_name = roomie.next_achievement.keys.first.to_s.titleize
                    - next_level = roomie.next_achievement.values.first[:value]
                    - percentage = (roomie.points / next_level.to_f) * 100
                    .bar{ style: "width: #{percentage}%" }
                    %strong #{next_achievement_name}
              %td.level #{roomie.points}/#{next_level}
    - else
      .content
        %p You don't have roomies to battle with yet. Quick! Remedy this at once.
