- @main_class = 'profile'

#about_you.content
  %img{ :src => "#{@user.gravatar}", :alt => "profile picture" }
  #about_header
    - if signed_in? && current_user == @user
      - if @user.name.blank?
        %h1 hi there, new roomie
      -else
        %h1 hi there, #{@user.name}
    - else
      - if @user.name.blank?
        %h1 new roomie
      -else
        %h1  #{@user.name}
    %p 455/500 pts
    %p next level
  #roomie_bar
    %span
    %span
  %p#level amazing roomie
  - if @user.house
    %p#house
      #{@user.house.name} - 
      - if signed_in? && current_user == @user
        = link_to 'change house name or add roomies', edit_house_path(@user.house), :class => 'ajax'
        |
        = link_to 'move out', homeless_url(:id => @user.id, :house_id => @user.house)
  - else
    %p#house
      - if signed_in? && current_user == @user
        Oh no! It seems you're homeless! Want to 
        = link_to 'build a house', new_house_path, :class => 'ajax'
        ?
      - else
        It seems he's homeless!
  %p#tasks_expenses
    %span
    %span tasks: 789
    %span
    %span expenses: 3
  %p.edit_profile= link_to 'edit profile', edit_user_path(@user), :class => 'ajax' if current_user
#achievements.header_bar
  %h1 achievements
#badges.content
  #image
  #image
  #image
  #image.faded
  #image.faded
  #image.faded
  #image.faded
  #image.faded
  #image.faded
  #image.faded
  #image.faded
  #image.faded
- if current_user
  #progress.header_bar
    %h1 progress 
  .content
    %table
      %tr
        %td awesomeness
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.percentage 77%
      %tr
        %td reliability
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.percentage 77%
      %tr
        %td helpfullness
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.percentage 77%
      %tr
        %td cooking master
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.percentage 77%
  #batte.header_bar
    %h1 roomie battle!!!
  .content
    %table
      %tr
        %th name
        %th progress to next "amazing roomie" badge
        %th.level next level
      %tr
        %td zachary nicoll
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.level 4
      %tr
        %td andrew smith
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.level 1
      %tr
        %td alyssa nicoll
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.level 1
      %tr
        %td olivier lacan
        %td.progress_bar
          .bars
            .bar
            .bar_bg
        %td.level 1
  #modal
  #darknessification