- @main_class = 'profile'

#about.content
  - if @user.gravatar
    = image_tag "#{@user.gravatar}", :alt => "profile picture"
  - else
    = image_tag "profile_default.png", :alt => "profile picture"

  #about_header
    - if signed_in? && current_user == @user
      - if @user.name.blank?
        %h1
          = t('.hi_there')
          =  t('.new_roomie')
      -else
        %h1 #{t('.hi_there')}, #{@user.name}
    - else
      - if @user.name.blank?
        %h1= t('.new_roomie')
      -else
        %h1  #{@user.name}
    -# - if signed_in? && current_user == @user
    -#   %p you have #{pluralize(@user.points, t(:point))}
    -# - else
    -#   %p #{(current_user == @user) ? t('.you_have') : t('.this_roomie_has')} #{pluralize(@user.points, t(:point))}
  #hud

    - if @house
      #house
        .current_house #{@house.name}
        - if signed_in? && current_user == @user
          = link_to t('.change_house_name'), edit_house_path(@house), :class => 'ajax'
          = link_to t('.add_roomies'), new_house_invitation_path, :class => 'ajax'
          = link_to t('.move_out'), homeless_url(:id => @user.id, :house_id => @house), :confirm => t('.confirm_house_deletion')
          - if @house.sponsored? && @house.sponsor == current_user
            = link_to 'Cancel Sponsorship', house_subscription_path, method: :delete, remote: true
          - elsif @house.sponsored?
            = link_to "Sponsored by #{@house.sponsor}", '#'
          - else
            = link_to t('.sponsor'), new_house_subscription_path
    - else
      %p#house
        - if signed_in? && current_user == @user
          = link_to t(:build_house), new_house_path, :class => 'ajax'
        - else
          = t('.homeless_roomie')
    %p#roommates
      - if @user.house
        - if @user.house.users
          -# = @user.house.users.map { |u| link_to u.name, u unless u == @user }.join(', ').html_safe
          = @user.house.users.collect{ |u| if u == @user then t(:you) else u.name || t(:no_name_roomie) end }.to_sentence
          live here.

        - else
          = t('.lonely')
    %p#tasks_expenses
      %span
      - if @tasks
        %span= pluralize(@tasks.count, t(:task))
      - else
        %span= t('.no_tasks')
      %span
      - if @tasks
        %span= pluralize(@expenses.count, t(:expense))
      - else
        %span= t('.no_expenses')
  %p.edit_profile= link_to t('.edit_profile'), edit_user_path(@user), :class => 'ajax' if current_user
#achievements
  .header_bar
    %h1= t('.achievements')
    -# %p= link_to t('.more_achievements'), achievements_url
  #badges.content
    - if @user.achievements.count == 0
      - if current_user
        %p= t(:no_achievements, scope: [:achievements, :index])
        %p
          = t(:next_achievement, scope: [:achievements, :index])
          %strong #{@user.next_achievement.keys.first.to_s.titleize}
      - else
        %p= t(:has_no_achievements, scope: [:achievements, :index])
    - else
      - @user.achievements.each do |a|
        = image_tag "#{a.type[:badge]}", title: a.name.to_s.humanize

  #battle
    .header_bar
      %h1= t('.roomie_battle')
    - if !@user.house.nil? && roomies_list
      .content
        %table.battle
          %tr
            %th= t :name
            %th
              = t('.progress') 
            %th.level= t :points
          - roomies_list.all.map do |roomie|
            %tr
              %td
                - if (roomie == current_user)
                  %strong #{t(:you)}
                - elsif roomie.name
                  = link_to roomie.name, roomie
                - else
                  = t(:no_name_roomie) 
              %td.progress_bar
                .bars
                  .bar_bg
                    - next_achievement_name = roomie.next_achievement.keys.first.to_s.titleize
                    - next_level = roomie.next_achievement.values.first[:value]
                    -# removing 0.25 for styling because I'm a hack
                    - percentage = (((roomie.points) / (next_level.to_f)) * 100) - 0.25
                    .bar{ style: "width: #{percentage}%" }
                    %strong #{next_achievement_name}
              %td.level #{roomie.points}/#{next_level}
    - else
      .content
        %p= t('.no_roomies_to_battle')
