%h2 Change your password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  = f.input :reset_password_token, :as => :hidden
  = f.input :password, :placeholder => "Enter your new password"
  = f.submit "Change password"
= render :partial => "devise/shared/links"
