%h2 Change your password
= simple_form_for :user, :url => password_path(:user) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  = f.password_field :password, :placeholder => "Enter your new password"
  = f.password_field :password_confirmation, :placeholder => "Confirm your new password"
  = f.submit "Change password"
= render :partial => "devise/shared/links"
