- @main_class = 'home'

.mantra
  %p living
  %p together
  %p made
  %p easier
  
#screencast
  <iframe src="http://player.vimeo.com/video/21793992?title=0&amp;byline=0&amp;portrait=0" width="460" height="340" frameborder="0"></iframe>
#signup
  = simple_form_for(@user, :as => :user, :url => registration_path(:user)) do |f|
    = f.input :email, :label => false, :input_html => { :placeholder => "example@domain.com" }
    #password_junk
      = f.input :password, :label => false, :required => false, :input_html => { :placeholder => 'type your own password here' }
    = f.submit 'sign up', :class => 'green'
  %p.other_auths
    or sign up with
    =link_to 'twitter,', '/auth/twitter'
    =link_to 'facebook,', '/auth/facebook'
    or
    =link_to 'google', '/auth/google'
  %p.generate
    or
    = link_to 'have us generate one for you', 'generate'
  %p= t :free_for_30_days
    
.benefit
  %h2= t :relax
  %p At school, work, home, or out in the world, Roomies makes it easy to keep it touch with your roommates and the stuff you have to do everyday.
  
.benefit.middle
  %h2= t :play
  %p Complete tasks and expenses as expected, and you will earn points and receive achievements badges that reward you for being a good roomie.
  
.benefit.last
  %h2= t :save
  %p Stay on top of bills, receive reminders in due time and keep an eye on what you spend. It saves you time, and we all know what time is. Relative...?
#modal
#darknessification
