- @main_class = 'home'

.mantra
  %p= t('.living')
  %p= t('.together')
  %p= t('.easier')
  
#screencast
  <iframe src="http://player.vimeo.com/video/23326086?title=0&amp;byline=0&amp;portrait=0" width="460" height="340" frameborder="0"></iframe>

- if params[:beta] || Rails.env == "production" 
  = render :partial => "beta"
- elsif params[:default] || Rails.env == "development" 
  = render :partial => "signup"

.benefit
  %h2= t '.relax'
  %p= t '.relax_copy'
  = link_to image_tag('screens/corkboard.png'), '#'

.benefit.middle
  %h2= t '.play'
  %p= t '.play_copy'
  = link_to image_tag('screens/profile.png'), '#'
  
.benefit.last
  %h2= t '.save'
  %p= t '.save_copy'
  = link_to image_tag('screens/calendar.png'), '#'
