- @main_class = 'home'

.mantra
  %p= t('.living')
  %p= t('.together')
  %p= t('.made')
  %p= t('.easier')
  
#screencast
  <iframe src="http://player.vimeo.com/video/23326086?title=0&amp;byline=0&amp;portrait=0" width="460" height="340" frameborder="0"></iframe>
#signup
  = simple_form_for(@user, :as => :user, :url => registration_path(:user)) do |f|
    = f.input :email, :label => false, :input_html => { :placeholder => t('.email_example') }
    #password_junk
      = f.input :password, :label => false, :required => false, :input_html => { :placeholder => t('.type_your_password') }
    = f.submit t(:sign_up), :class => 'green'
  %p.other_auths
    = t('.or_sign_up_with')
    =link_to 'twitter,', '/auth/twitter'
    =link_to 'facebook,', '/auth/facebook'
    or
    =link_to 'google', '/auth/google'
  %p.generate
    or
    = link_to t('.generate_one'), 'generate'
  %p= t '.free_for_30_days'

.benefit
  %h2= t '.relax'
  %p= t '.relax_copy'
  = link_to image_tag('screens/corkboard.png'), '#'

.benefit.middle
  %h2= t '.play'
  %p= t '.play_copy'
  = link_to image_tag('screens/profile.png'), '#'
  
.benefit.last
  %h2= t '.save'
  %p= t '.save_copy'
  = link_to image_tag('screens/calendar.png'), '#'
