- @main_class = 'home'

.widtheriz
  %p.l living
  %p.t together
  %p.m made
  %p.e easier
  
#screencast
  <iframe src="http://player.vimeo.com/video/21793992?title=0&amp;byline=0&amp;portrait=0" width="460" height="340" frameborder="0"></iframe>
#signup
  = semantic_form_for(@user, :as => :user, :url => registration_path(:user)) do |f|
    = f.inputs do
      = f.input :email, :label => false, :input_html => { :value => "example@domain.com" }
    = f.buttons do
      = f.commit_button :label => 'sign up'
  %p
    or sign in with
    =link_to 'twitter,', '/auth/twitter'
    =link_to 'facebook,', '/auth/facebook'
    or
    =link_to 'google', '/auth/google'
    
.benefit
  %h2 benefit
  %p Intrinsicly utilize out-of-the-box resources whereas inexpensive products. Objectively foster impactful collaboration.
  
.benefit.middle
  %h2 benefit
  %p Intrinsicly utilize out-of-the-box resources whereas inexpensive products. Objectively foster impactful collaboration.
  
.benefit
  %h2 benefit
  %p Intrinsicly utilize out-of-the-box resources whereas inexpensive products. Objectively foster impactful collaboration.
