- @main_class = 'home'

.mantra
  %p= t('.living')
  %p= t('.together')
  %p= t('.easier')
  
#screencast
  <iframe src="http://player.vimeo.com/video/24255652?title=0&amp;byline=0&amp;portrait=0" width="520" height="290" frameborder="0"></iframe>

= render partial: "signup"

.benefit
  %h2= t '.relax'
  %p= t '.relax_copy'
  = link_to image_tag('screens/corkboard.png'), '#'

.benefit.middle
  %h2= t '.play'
  %p= t '.play_copy'
  = link_to image_tag('screens/profile.png'), '#'
  
.benefit.last
  %h2= t '.save'
  %p= t '.save_copy'
  = link_to image_tag('screens/calendar.png'), '#'

