%h1 Listing invitations

%table
  %tr
    %th
    %th
    %th

  - @invitations.each do |invitation|
    %tr
      %td= invitation.type
      %td= invitation.email
      %td= link_to 'Show', invitation
      %td= link_to 'Edit', edit_invitation_path(invitation)
      %td= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Invitation', new_invitation_path
