%h2 Forms
= render_pattern 'input[type=text]' do
  = text_field_tag unique_pattern_id

= render_pattern 'input[type=submit]' do
  = submit_tag 'Submit'

%h2 Components
= render_pattern '.plain-box' do
  .plain-box
    I'm just a plain old box' Useful for holding your gizmos.
= render_pattern '.sign-in-box', 'components/_sign_in'
= render_pattern '.sign-up-box.full', 'components/_sign_up', locals: { style: 'full' }
= render_pattern '.sign-up-box.half', 'components/_sign_up', locals: { style: 'half' }

= render_pattern '.mantra' do
  .mantra
    %p living
    %p together
    %p easier
