- @main_class = "pages"
%h1= t(:send_beta_invite, scope: [:devise, :invitations])
%p= t(:instructions, scope: [:devise, :invitations])
= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f|
  = f.input :email, label: false, placeholder: t(:email_example)
  = f.submit "Send an invitation", :class => "green"
%br
-# = link_to "Home", after_sign_in_path_for(resource_name)
%br
