.centric.content
  - # what weekday number is today? (Sun = 0, Mon = 1)?
  - weekday_number = Date.today.wday()
  - # how many days do we show after today
  - number_of_days = 13
  - (0..number_of_days).map do |i|
    - date = Date.today + i.days
    - current_day = (date == Date.today) ? 'current_day' : nil
    .day{:class => current_day}
      %p.day_name= l(date, :format => :short_day)
      %p.day_number= date.day
      - unless assignments.where(:due_date => date.to_s).count <= 0
        .todo
          - tasks = assignments.where(due_date: date.to_s).and(type: "task")
          - expenses = assignments.where(due_date: date.to_s).and(type: "expense")
          - unless tasks.count == 0
            - if all
              =link_to tasks.count, "/assignments/day/#{date}.json?type=task&all=true", :class => "tasks"
            - else
              =link_to tasks.count, "/assignments/day/#{date}.json?type=task", :class => "tasks"
          - unless expenses.count == 0
            - if all
              =link_to expenses.count, "/assignments/day/#{date}.json?type=expense&all=true", :class => "expenses"
            - else
              =link_to expenses.count, "/assignments/day/#{date}.json?type=expense", :class => "expenses"
          -# =link_to '2', '#', :class => "expenses tooltip", :title => "Yaaaaaaoooo"
