.calendar.content
  - # what weekday number is today? (Sun = 0, Mon = 1)?
  - weekday_number = Date.today.wday()
  - # how many days do we show
  - days = 34
  - # how many days are we showing after today?
  - number_of_days = (weekday_number == 0) ? days : days - weekday_number
  - # if the number of days after today are not
  - # equal to the total number of days shown
  - if number_of_days != days
    - (0..weekday_number).map do |i|
      - date = Date.today - weekday_number + i.days 
      - unless date == Date.today
        .day.past
          %p.day_name= l(date, :format => :short_day)
          %p.day_number= date.day
          - unless assignments.where(:due_date => date.to_s).count == 0
            .todo
              - tasks = assignments.where(due_date: date.to_s).and(type: "task")
              - expenses = assignments.where(due_date: date.to_s).and(type: "expense")
              - unless tasks.count == 0
                - if all
                  =link_to tasks.count, "/assignments/day/#{date}.json?type=task&all", :class => "tasks"
                - else
                  =link_to tasks.count, "/assignments/day/#{date}.json?type=task", :class => "tasks"
              - unless expenses.count == 0
                - if all
                  =link_to expenses.count, "/assignments/day/#{date}.json?type=expense&all", :class => "expenses"
                - else
                  =link_to expenses.count, "/assignments/day/#{date}.json?type=expense", :class => "expenses"
              -# =link_to '0', '#', :class => "expenses" 

  - (0..number_of_days).map do |i|
    - date = Date.today + i.days
    - current_day = (date == Date.today) ? 'current_day' : nil
    - if (date.wday != 0 && date.cweek == Date.today.cweek) || (Date.today.wday == 0 && date.wday != 0 && date.cweek == Date.tomorrow.cweek)
      - current_week = 'current_week'
    .day{ :class => "#{current_day} #{current_week}" }
      %p.day_name= l(date, :format => :short_day)
      %p.day_number= date.day
      - unless assignments.where(:due_date => date.to_s).count <= 0
        .todo
          - tasks = assignments.where(due_date: date.to_s).and(type: "task")
          - expenses = assignments.where(due_date: date.to_s).and(type: "expense")
          - unless tasks.count == 0
            - if all
              =link_to tasks.count, "/assignments/day/#{date}.json?type=task&all=true", :class => "tasks"
            - else
              =link_to tasks.count, "/assignments/day/#{date}.json?type=task", :class => "tasks"
          - unless expenses.count == 0
            - if all
              =link_to expenses.count, "/assignments/day/#{date}.json?type=expense&all=true", :class => "expenses"
            - else
              =link_to expenses.count, "/assignments/day/#{date}.json?type=expense", :class => "expenses"
          -# =link_to '2', '#', :class => "expenses"
