- if current_user.beta_invite_limit > 0
  = link_to t('.send_beta_invite'), new_beta_invite_path
  (#{current_user.beta_invite_limit} left)
.notifications
  - if current_user.has_invitations?
    %p 
      = t('.move_in_invite') 
      = link_to 'here', '/accept_invitation'
      = t('.move_in_invite_accept')
      = link_to 'here', '/reject_invitations'
      = t('.move_in_invite_refuse')
    - if not current_user.house.nil?
      %p= t('.house_move_warning')
  - unless current_user.name?
    %p 
      = t('.change_password_and_name') 
      = link_to 'edit profile.', edit_user_path(current_user), :class => 'ajax'
  - unless @my_confirmations.empty?
    %p
      = link_to 'Your roomies finally completed some of the assignments you gave them! Woo hoo! Click here to confirm them.', '/confirmations', class: 'ajax'
  - unless @my_past_due.empty?
    %p 
      = link_to 'You have past due assignments and that\'s just no good. Click here to view them.', assignments_path
