= link_to "Beta Invites (#{current_user.invitation_limit})", new_user_invitation_path
- if @all == nil
  - if current_user.has_house_invitations?
    .notifications
      %p 
        = link_to t('.move_in_invite_accept'), '/accept_house_invitation'
        = link_to t('.move_in_invite_refuse'), '/reject_house_invitations'
      - if not current_user.house.nil?
        %p= t('.house_move_warning')

  .error
    %p= link_to  t('.youre_homeless') + t('.build_house?'), new_house_path, :class => "ajax"
- unless current_user.name?
  .notifications
    %p= link_to t('.change_password_and_name'), edit_user_path(current_user), :class => 'ajax'


- else
  .notifications
    -# - unless @my_confirmations.empty?
    -#   %p= link_to "Your roomies finally completed some of the assignments you gave them! Woo hoo! Click here to confirm them.", '/confirmations', class: 'ajax'
    - unless @my_past_due.empty?
      %p= link_to "You have past due assignments and that\'s just no good. Click here to view them.", assignments_path
