- @main_class = 'corkboard'

= render :partial => 'notifications'
- unless @my_confirmations.empty?
  .notice
    %p
      Some of the assignments you created have been marked as completed. Would like to conform those now?
    %ul
      - @my_confirmations.each do |assignment|
        %li= assignment.purpose
- unless @my_past_due.empty?
  .error
    %p 
      You have past due assignments and that's just no good. Click here to view them &rarr; 
      = link_to 'past due assignments.', assignments_path

#upcoming_filters
  %ul#assignee_filters
    %li.left.active= t '.my_assignments'
    %li.right= t '.everyones_assignments'
  %ul#assignment_filters
    %li.left.active= t '.all'
    %li#task_filter= t '.tasks'
    %li.right#expense_filter= t '.expenses'

.corkboard_view.my.current
  .upcoming_lists.content
    = render :partial => "upcoming", :locals => { :day_of_the_week => t(".today"), :assignments => @my_todays_assignments }
    = render :partial => "upcoming", :locals => { :day_of_the_week => t(".tomorrow"), :assignments => @my_tomorrows_assignments }
    = render :partial => "upcoming", :locals => { :day_of_the_week => l(Date.today + 2, :format => :day), :assignments => @my_next_days_assignments }

  = render :partial => "header_bar"
  = render :partial => "centric_calendar", :locals => { :assignments => @my }
  = render :partial => "monthly_calendar", :locals => { :assignments => @my }
            
.corkboard_view.all
  .upcoming_lists.content
    = render :partial => "upcoming", :locals => { :day_of_the_week => t(".today"), :assignments => @all_todays_assignments }
    = render :partial => "upcoming", :locals => { :day_of_the_week => t(".tomorrow"), :assignments => @all_tomorrows_assignments }
    = render :partial => "upcoming", :locals => { :day_of_the_week => l(Date.today + 2, :format => :day), :assignments => @all_next_days_assignments }

  = render :partial => "header_bar"
  = render :partial => "centric_calendar", :locals => { :assignments => @all }
  = render :partial => "monthly_calendar", :locals => { :assignments => @all }

%ul.detail_day_view