- @main_class = 'corkboard'

- if signed_in? && current_user == @user && !@user.name?
  .first_time
    %p 
      Hi there! If you'd like to change your password or possibly tell us your name, go ahead and click here &rarr; 
      = link_to 'edit profile.', edit_user_path(@user), :class => 'ajax' if current_user
.content.others
  .list
    %h2 bounties
    %ul
      - @bounties.each  do |bounty|
        %li.bounty 
          %ul
            %li.check
            %li= link_to bounty.purpose, assignment_url(bounty)
            %li.edit
  .list
    %h2 freebies
    %ul
      - @freebies.each do |freebie|
        %li.freebie 
          %ul
            %li.check
              %li= link_to freebie.purpose, assignment_url(freebie)
            %li.edit
  .list
    %h2 wishes
    %ul
      - @wishes.each do |wish|
        %li.gift 
          %ul
            %li.check
            %li= link_to wish.purpose, assignment_url(wish)
            %li.edit
  .list.last
    %h2 gifts
    %ul
      - @gifts.each do |gift|
        %li.gift 
          %ul
            %li.check
            %li= link_to gift.purpose, assignment_url(gift)
            %li.edit

#upcoming_filters
  %ul
    %li.left.active my assignments
    %li.right everyone's assignments
  %ul#filters
    %li.left.active all
    %li#task_filter tasks
    %li.right#expense_filter expenses

#upcoming.content
  .list
    %h2 today
    %ul
      - @things.each do |thing|
        %li{ :class => thing._type.downcase } 
          %ul
            %li{ :title => thing._type.downcase }
            %li= link_to thing.purpose, assignment_url(thing)
            %li.edit
  .list
    %h2 tomorrow
    %ul
 
  .list.last
    %h2= (Date::DAYNAMES[Date.tomorrow.next_day.wday.to_i]).downcase
    %ul
 
.header_bar
  %h1 this month
#calendar.content  
  - today = Date.today.wday()
  - number_of_days = today == 0 ? 34 : 34 - today
  - if number_of_days != 34
    - (0..today).map do |i|
      - date = Date.today - today +i.days 
      - unless date == Date.today
        .day.past
          %p.day_name= Date::ABBR_DAYNAMES[date.wday()]
          %p= date.day
          #todo
            =link_to '0', '#', :class => "tasks"
            =link_to '0', '#', :class => "expenses"
  - (0..number_of_days).map do |i|
    - date = Date.today + i.days
    .day
      %p.day_name= Date::ABBR_DAYNAMES[date.wday()]
      %p= date.day
      #todo
        =link_to '99', '#', :class => "tasks"
        =link_to '2', '#', :class => "expenses"
#modal
#darknessification
