- @main_class = 'corkboard'

= render :partial => 'notifications'

#upcoming_filters
  %ul#assignee_filters
    %li.left.active my assignments
    %li.right everyone's assignments
  %ul#assignment_filters
    %li.left.active all
    %li#task_filter tasks
    %li.right#expense_filter expenses

#upcoming.content    
  .list
    %h2 today
    %ul
      - @todays_assignments.each do |assignment|
        -# - if assignment.due_date.today?
        %li{ :class => "task" }
          %ul
            %li.type{ :title => "task" }
            %li.purpose= link_to assignment.purpose, assignment_url(assignment)
            %li.edit{ :data => { :assignment_id => assignment.id } }
  .list
    %h2 tomorrow
    %ul
      - @tomorrows_assignments.each do |assignment|
        -# - if assignment.due_date == Time.now.tomorrow
        %li{ :class => "task" } 
          %ul
            %li.type{ :title => "task" }
            %li.purpose= link_to assignment.purpose, assignment_url(assignment)
            %li.edit{ :data => { :assignment_id => assignment.id } }
 
  .list.last
    %h2= (Date::DAYNAMES[Date.tomorrow.next_day.wday.to_i]).downcase
    %ul
      - @next_days_assignments.each do |assignment|
        -# - if assignment.due_date == Time.now.tomorrow.tomorrow
        %li{ :class => "task" } 
          %ul
            %li.type{ :title => "task" }
            %li.purpose= link_to assignment.purpose, assignment_url(assignment)
            %li.edit{ :data => { :assignment_id => assignment.id } }

.header_bar.upcoming
  %h1 these coming days
  %p
    =link_to 'upcoming', '/corkboard/upcoming', :class => 'active'
    |
    =link_to 'monthly', '/corkboard/monthly'
#centric.content
  - # what weekday number is today? (Sun = 0, Mon = 1)?
  - weekday_number = Date.today.wday()
  - # how many days do we show after today
  - number_of_days = 13
  - (0..number_of_days).map do |i|
    - date = Date.today + i.days
    - current_day = (date == Date.today) ? 'current_day' : nil
    .day{:class => current_day}
      %p.day_name= Date::ABBR_DAYNAMES[date.wday()]
      %p.day_number= date.day
      - unless Assignment.where(:due_date => date.to_s).count <= 0
        #todo
          =link_to Assignment.where(:due_date => date.to_s).count, '#', :class => "tasks"
          -# =link_to '2', '#', :class => "expenses tooltip", :title => "Yaaaaaaoooo"

#calendar.content
  - # what weekday number is today? (Sun = 0, Mon = 1)?
  - weekday_number = Date.today.wday()
  - # how many days do we show
  - days = 34
  - # how many days are we showing after today?
  - number_of_days = (weekday_number == 0) ? days : days - weekday_number
  - # if the number of days after today are not
  - # equal to the total number of days shown
  - if number_of_days != days
    - (0..weekday_number).map do |i|
      - date = Date.today - weekday_number + i.days 
      - unless date == Date.today
        .day.past
          %p.day_name= Date::ABBR_DAYNAMES[date.wday()]
          %p.day_number= date.day
          - unless Assignment.where(:due_date => date.to_s).count <= 0
            #todo
              =link_to Assignment.where(:due_date => date.to_s).count, '#', :class => "tasks"
              -# =link_to '0', '#', :class => "expenses"
  - (0..number_of_days).map do |i|
    - date = Date.today + i.days
    - current_day = (date == Date.today) ? 'current_day' : nil
    - if date.wday != 0 && date.cweek == Date.today.cweek
      - current_week = 'current_week'
    .day{ :class => "#{current_day} #{current_week}" }
      %p.day_name= Date::ABBR_DAYNAMES[date.wday()]
      %p.day_number= date.day
      - unless Assignment.where(:due_date => date.to_s).count <= 0
        #todo
          =link_to Assignment.where(:due_date => date.to_s).count, '#', :class => "tasks"
          -# =link_to '2', '#', :class => "expenses"
#modal
#darknessification
