= form_for @tasc do |f|
  -if @tasc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tasc.errors.count, "error")} prohibited this tasc from being saved:"
      %ul
        - @tasc.errors.full_messages.each do |msg|
          %li= msg

  .fields
    = f.label :purpose
    = f.text_field :purpose
  .fields
    = f.label :due_date
    = f.text_field :due_date, :class => 'superdate'
  #picker
  #popol
    =# f.datetime_select :due_date
  .fields
    = f.label :assignees
    = f.select :assignees, User.all.map { |u| [u, u._id] } 
  .actions
    = f.submit 'Save'

