%h1 Listing tascs

%table
  %tr
    %th Purpose
    %th Due date
    %th Assignee
    %th
    %th
    %th

  - @tascs.each do |tasc|
    %tr
      %td= link_to tasc.purpose, tasc_path(tasc)
      %td= tasc.due_date
      %td
        %ul
          - tasc.assignees.each do |assignee|
            %li= assignee
      %td= link_to 'Show', tasc
      %td= link_to 'Edit', edit_tasc_path(tasc)
      %td= link_to 'Destroy', tasc, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tasc', new_tasc_path
