%p
  %b Purpose:
  = @tasc.purpose
%p
  %b Due date:
  = @tasc.due_date
%p
  %b Assignees:
%ul
  - @tasc.assignees.each do |assignee|
    %li= assignee.user.name

= link_to 'Edit', edit_tasc_path(@tasc)
\|
= link_to 'Back', tascs_path
