= semantic_form_for @chore do |f|
  -if @chore.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chore.errors.count, "error")} prohibited this chore from being saved:"
      %ul
        - @chore.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs do
    = f.input :purpose
    = f.input :due_date, :as => :date
    = f.input :user_id, :as => :select, :collection => @users, :label => 'Assignee'
  = f.buttons


