= form_for @chore do |f|
  -if @chore.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chore.errors.count, "error")} prohibited this chore from being saved:"
      %ul
        - @chore.errors.full_messages.each do |msg|
          %li= msg

  .fields
    = f.label :purpose
    = f.text_field :purpose
  .fields
    = f.label :due_date
    = f.datetime_select :due_date
  .fields
    = f.label :assignees
    = f.select :assignees, User.all.map { |u| [u, u._id] } 
  .actions
    = f.submit 'Save'

