%p#notice= notice

%p
  %b Purpose:
  = @chore.purpose
%p
  %b Due date:
  = @chore.due_date
%p
  %b Assignees:
%ul
  - @chore.assignees.each do |assignee|
    %li= assignee.user.name

= link_to 'Edit', edit_chore_path(@chore)
\|
= link_to 'Back', chores_path
