%h1 Listing expenses

%table
  %tr
    %th Purpose
    %th Due date
    %th Cost
    %th Assignee
    %th
    %th
    %th

  - @expenses.each do |expense|
    %tr
      %td= expense.purpose
      %td= expense.due_date
      %td= expense.cost
      %td= expense.user
      %td= link_to 'Show', expense
      %td= link_to 'Edit', edit_expense_path(expense)
      %td= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Expense', new_expense_path
