- @main_class = 'corkboard'
= render :partial => 'notifications'

#upcoming_filters
  %ul#assignee_filters
    %li.left.active{ :data => { :type => "my" } }= t '.my_assignments'
    %li.right{ :data => { :type => "all" }}= t '.everyones_assignments'
  -# %ul#assignment_filters
  -#   %li.left.active{:data => {:filter => 'all'}}= t '.all'
  -#   %li#task_filter{:data => {:filter => 'expense'}}= t '.tasks'
  -#   %li.right#expense_filter{:data => {:filter => 'task'}}= t '.expenses'

.corkboard_view.my.current
  .upcoming_lists.content
    - @my_assignments.forecast.each do |day, assignments|
      = render "upcoming", day_of_the_week: day, assignments: assignments

  = render "header_bar"
  = render "centric_calendar", assignments: @my_assignments, all: true }
  = render "monthly_calendar", assignments: @my_assignments, all: true }
           
.corkboard_view.all
  .upcoming_lists.content
    - @all_assignments.forecast.each do |day, assignments|
      = render "upcoming", day_of_the_week: day, assignments: assignments

  = render "header_bar"
  = render "centric_calendar", assignments: @all_assignments, all: true }
  = render "monthly_calendar", assignments: @all_assignments, all: true }

%ul.detail_day_view
