%head
  %meta{ :charset => "utf-8" }/
  
  -#
    Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
  %meta{ name: "viewport", content: "width=960"}/
  
  %title
    = title
    -# == #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }
    
  %meta{ :content => "Roomies is an application that helps roommates live together.", :name => "description" }/
  %meta{ :content => "cleverCode LLC", :name => "author" }/
  
  -# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  -# %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
  -# %link{ :href => "/apple-touch-icon.png", :rel => "apple-touch-icon" }/
  
  = render :partial => 'layouts/stylesheets'

  -# catching javascript errors with hoptoad
  / = hoptoad_javascript_notifier

  -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
  = javascript_include_tag 'modernizr.min', 'http://use.typekit.com/urh2gpw.js'
  
  :javascript
    try{Typekit.load();}catch(e){}
  
  = csrf_meta_tag
