%h1
  - unless user_signed_in?
    =link_to 'Roomies', root_path
  - else
    =link_to 'Roomies', '/corkboard'
- if user_signed_in? && current_user.invitation_limit and current_user.invitation_limit > 0
  #beta= link_to "Beta Invites (#{current_user.invitation_limit})", new_user_invitation_path
%nav
  - if user_signed_in?
    %ul
      - invite = current_user.house_invitation
      - unless invite.nil?
        %li.notification.house
          = link_to "invitations", invite, class: 'ajax'
      - confirms = current_user.assignments.where(commissioner_id: current_user.id).and(:completed_at.ne => nil).and(validator_id: nil).excludes(completor_id: current_user.id)
      - unless confirms.blank?
        %li.notification.confirm
          = link_to "#{confirms.count} confirmations", '/confirmations', class: 'ajax'
      - pasts = current_user.assignments.past_due
      - unless pasts.blank?
        %li.notification
          = link_to "#{pasts.count} past due", '/past_due_assignments', class: 'ajax'
      %li.profile
        -# = link_to image_tag(current_user.gravatar('small'), width: 34, height: 34), current_user
        = link_to "Profile", current_user
      %li
        - if current_user.house.nil?
          = link_to t(:build_house), new_house_path, id: 'easy_button', class: 'ajax'
        - else
          = link_to t(:add_assignment), new_assignment_path, id: 'easy_button', class: 'ajax'
  - else
    = link_to t(:sign_in), user_session_path, class: 'ajax'
