%h1 
  =link_to 'Roomies', root_path
%nav
  - if user_signed_in?
    %ul
      %li.graphic.profile
        = link_to 'Profile page', current_user
      %li
        = link_to 'add task/expense', new_expense_path
      -# %li
      -#   = link_to 'Create an expense', new_expense_path
      %li.graphic
        = link_to 'Sign Out', destroy_user_session_path
  - else
    = semantic_form_for(@user, :as => :user, :url => session_path(:user)) do |f|
      = f.inputs do
        = f.input :email, :label => false, :input_html => { :value => "email" }
        = f.input :password, :label => false, :input_html => { :value => "password" }
      = f.buttons do
        = f.commit_button :label => 'sign in'

