!!! 5
%html
  = render :partial => 'layouts/head'
  %body{ :lang => 'en', :class => "#{controller.controller_name} #{signed_in? ? 'signed_in' : ''} bp"}
    #clouds
    #container
      %header#header
        = render :partial => 'layouts/header'
      #main{ :role => 'main', :class => @main_class }
        = render :partial => 'layouts/flashes'
        = yield
        #modal
          #ajaxed
          #ajaxed_again
        #darknessification
        .loader
    %footer#footer
      .container
        = render :partial => 'layouts/footer'