!!! 5
%html
  = render :partial => 'layouts/head'
  %body{ :lang => 'en', :class => "#{controller.controller_name} #{signed_in? ? 'signed_in' : ''}"}

    #not-the-footer(role="bullshit")
      %header#header
        .girdle= render :partial => 'layouts/header'

      #flashes
        = render :partial => 'layouts/flashes'

      #main{ role: 'main', class: @main_class }
        .girdle= yield

        -# WTF!
        #modal
          #ajaxed
          #ajaxed_again
        #darknessification
        .loader

    %footer#footer
      .girdle= render partial: 'layouts/footer'
